{
    "openapi": "3.0.0",
    "info": {
        "title": "Api Books",
        "description": "Rotas da API de Livros.",
        "contact": {
            "email": "admin@admin.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://apibooks.mauridesenvolvedor.com/api/",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/logged": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "USUARIO LOGADO",
                "description": "Rota para trazer usuário logado",
                "operationId": "a9ade1f6ef02f859bad1f6c2af2dc906",
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "LOGIN",
                "description": "Rota para realização de login",
                "operationId": "67d6d0fdd54fba132e1b6f55ca254183",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/user": {
            "put": {
                "tags": [
                    "Usuários"
                ],
                "summary": "ATUALIZAÇÃO USUÁRIO",
                "description": "Rota para atualizar do usuário",
                "operationId": "6069c00eaab3a7ff0c44e75d385cc2f1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "REGISTRO USUÁRIO",
                "description": "Rota para registro do usuário",
                "operationId": "88f8ef1c72fbda4344f742bd01a197a8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/books": {
            "get": {
                "tags": [
                    "Livros"
                ],
                "summary": "LIVROS",
                "description": "Rota para trazer e filtrar os livros",
                "operationId": "fa6c6e494bccc965aebc1341473935f1",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Buscar por nome,descrição ou nome do autor do livro",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/orders": {
            "get": {
                "tags": [
                    "Pedidos"
                ],
                "summary": "ORDERS",
                "description": "Rota para trazer e filtrar os pedidos",
                "operationId": "f2ed02d05432496b7f9754441e208e66",
                "parameters": [
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Buscar por data (Formato Y-m-d)",
                        "required": false
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Buscar por status (pendent,complete,cancel)",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Pedidos"
                ],
                "summary": "REGISTRO DO PEDIDO",
                "description": "Rota para registro do pedido",
                "operationId": "faf8f1ab3266846b03c01ffae9b09147",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "AuthRequest": {
                "title": "Auth Request",
                "description": "Auth request body data",
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "title": "email",
                        "description": "Email do login",
                        "type": "string",
                        "example": "teste@hotmail.com"
                    },
                    "password": {
                        "title": "password",
                        "description": "Senha do login",
                        "type": "string",
                        "example": "1234"
                    }
                },
                "type": "object"
            },
            "OrderRequest": {
                "title": "Auth Register Request",
                "description": "order request body data",
                "required": [
                    "total",
                    "orders_items"
                ],
                "properties": {
                    "total": {
                        "title": "total",
                        "description": "Total do pedido",
                        "type": "number",
                        "format": "float",
                        "example": "21.98"
                    },
                    "orders_items": {
                        "title": "order_items",
                        "description": "Items do pedido",
                        "type": "array",
                        "items": {
                            "required": [
                                "id_book",
                                "quantity",
                                "unit_price",
                                "total_price"
                            ],
                            "properties": {
                                "id_book": {
                                    "description": "ID do livro",
                                    "type": "integer",
                                    "example": 1
                                },
                                "quantity": {
                                    "description": "Quantidade do livro",
                                    "type": "integer",
                                    "example": 2
                                },
                                "unit_price": {
                                    "description": "Preço unitário do livro",
                                    "type": "number",
                                    "format": "float",
                                    "example": 10.99
                                },
                                "total_price": {
                                    "description": "Preço total do livro",
                                    "type": "number",
                                    "format": "float",
                                    "example": 21.98
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "UserRequest": {
                "title": "Auth Register Request",
                "description": "Auth request body data",
                "required": [
                    "name",
                    "email",
                    "password",
                    "street",
                    "number",
                    "neighborhood",
                    "city",
                    "cep",
                    "state"
                ],
                "properties": {
                    "name": {
                        "title": "name",
                        "description": "Nome do usuário",
                        "type": "string",
                        "example": "Pedro Souza"
                    },
                    "email": {
                        "title": "email",
                        "description": "Email do usuário",
                        "type": "string",
                        "example": "teste@hotmail.com"
                    },
                    "password": {
                        "title": "password",
                        "description": "Senha do usuário",
                        "type": "string",
                        "example": "1234"
                    },
                    "cep": {
                        "title": "cep",
                        "description": "cep do usuário",
                        "type": "string",
                        "example": "05454-457"
                    },
                    "street": {
                        "title": "street",
                        "description": "Rua do usuário",
                        "type": "string",
                        "example": "Principal"
                    },
                    "number": {
                        "title": "number",
                        "description": "Numero de endereço do usuário",
                        "type": "string",
                        "example": "4547"
                    },
                    "neighborhood": {
                        "title": "neighborhood",
                        "description": "bairro do usuário",
                        "type": "string",
                        "example": "Guaianases"
                    },
                    "city": {
                        "title": "city",
                        "description": "cidade do usuário",
                        "type": "string",
                        "example": "São Paulo"
                    },
                    "state": {
                        "title": "state",
                        "description": "estado do usuário",
                        "type": "string",
                        "example": "São Paulo"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "apiAuth": {
                "type": "http",
                "description": "Login with email and password to get the authentication token",
                "name": "Token based Based",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    }
}