*::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ccc;
}

th,
td {
    white-space: nowrap;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.actionBtn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 0px;
}

.actionBtn__delete {
    right: 15px;
}

.book {
    width: 210px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.bookImage,
.bookImage__exibition {
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 140px;
    height: 140px;
}

.bookImage__exibition {
    margin-top: 10px;
}

.bookImage img,
.bookImage__exibition img {
    max-height: 120px;
    object-fit: contain;
}

.bookImage:hover {
    background-color: #ccc;
}

.bookTitle,
.bookAuthor {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    color: black;
}

.bookAuthor {
    font-size: 16px;
    font-weight: normal;
}

.bookPrice {
    text-align: center;
    font-size: 16px;
    color: black;
}

.bookDescription {
    text-align: center;
    font-size: 14px;
    color: black;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.addButton {
    position: absolute;
    top: 0px;
    right: 0px;
}

.buyItem {
    display: flex;
    min-height: 120px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 1px #ccc;
}

.buyItem .preview {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buyItem .preview img {
    width: 80px;
    height: 100px;
    object-fit: contain;
}

.buyItem__description {
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: -10px;
}

.buyItem__content {
    padding: 5px;
    padding-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
